@define-color selected-text #0a64f5;
@define-color text #ffffff;
@define-color base #141414;
@define-color border #636363;
@define-color foreground #ffffff;
@define-color background #141414;

.box-wrapper {
  border-radius: 17px;
}
